{% extends "base.html" %}

{% block titulo %} Ofertas Destacadas {% endblock %}
{% block contenido_principal %}
<h2>Ofertas Destacadas.</h2>

<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
    <form class="form-horizontal">
        <table class="table table-hover" id="tableOffers">
            <thead>
            <tr>
                <th>Titulo</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th></th>
            </tr>
            </thead>
            {% for oferta in listado %}
            <tbody>
            <tr>
                <th>{{ oferta.titulo }}</th>
                <th>{{ oferta.detalles }}</th>
                <th>{{ oferta.precio }}</th>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </form>
</div>

{% endblock %}