{% extends "base.html" %}
{% block titulo %} Lista de Usuarios {% endblock %}

{% block contenido_principal %}
<h2 id="testListaUsuariosView">Usuarios registrados en la aplicación</h2>


<div class="table-responsive">
    <form method="post" action="/listaUsuarios">

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
        {%if usuario.tipo != 'admin'%}
        <tr>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.apellido }}</td>
            <td>{{ usuario.email }}</td>
            <td><label>
                <input class="deleteCheckbox" name="usuario" type="checkbox" id="{{ usuario._id.toString() }}" value="{{ usuario._id.toString() }}" for="usuario">
            </label> <br>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
        <div class="row text-right">
            <button id="deleteButton" class="btn btn-danger"  type="submit" > Eliminar Usuarios </button>
<!--            id="btnDelete"  class="btn btn-danger" role="button" onclick="getSelectedCheckboxValues('usuario')"-->
        </div>
    </form>
</div>


<!--<input type="checkbox" name="color" value="red"> Red-->
<!--<input type="checkbox" name="color" value="green"> Green-->
<!--<input type="checkbox" name="color" value="blue"> Blue-->

<!--<button id="btn" href="/listaUsuarios/eliminar/">Get Selected Colors</button>-->

<script >
    function getSelectedCheckboxValues(name) {
        const checkboxes = document.querySelectorAll(`input[name="${name}"]:checked`);
        let values = [];
        checkboxes.forEach((checkbox) => {
            values.push(checkbox.value);
        });
        return values;
    }

    // const btn = document.querySelector('#btnDelete');
    // btn.addEventListener('click', (event) => {
    //
    //     alert(getSelectedCheckboxValues('usuario'));
    // });
</script>



{% endblock %}