{% extends "base.html" %} 

{% block titulo %} Detalles de la oferta {{ oferta.nombre }}{% endblock %}

{% block contenido_principal %}

	 <div class="row">
		<div class="media col-xs-10">
		  <div class="media-body">
			 <h2>{{oferta.nombre}}</h2>
			 <p>Propietario : {{oferta.autor}}</p>
			  <div>
				  <h4>Detalles:</h4>
				  <p>{{oferta.detalles}}</p>
			  </div>
			  <p>{{oferta.fecha}}</p>
			 <a type="button" class="btn btn-primary pull-right" href="/oferta/comprar/{{oferta._id.toString()}}">{{oferta.precio}} €</a>
		  </div>
		</div>
	  </div>
	  

{% endblock %}