{% extends "base.html" %} 

{% block titulo %} Detalles de la oferta {{ oferta.nombre }}{% endblock %}

{% block contenido_principal %}
	 <div class="row">
		<div class="media col-xs-10">
		  <div class="media-left media-middle">
			<img class="media-object" src="/fotos/{{ oferta._id.toString() }}.png"  >
		  </div>
		  <div class="media-body">
			 <h2 id="testVistaOfertaConcreta">{{oferta.nombre}}</h2>
			 <p>{{oferta.autor}}</p>
			 <p>{{oferta.detalles}}</p>
			  <p>{{oferta.fecha}}</p>
			 <a id="btnCompra" type="button" class="btn btn-primary pull-right" href="/oferta/comprar/{{oferta._id.toString()}}">{{oferta.precio}} €</a>
		  </div>
		</div>
	  </div>
	  

{% endblock %}